<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NeighBird.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56F5F2D41F8F51F2004D3E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56F5F2E81F8F51F2004D3E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56F5F2F31F8F51F2004D3E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
